body {
  background-color: #FFFFFF;
  background-image: url(../../adesign.jpg);
  font-family: Gilroy-ExtraBold;
  height: 4700px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

#top-image {
  position: absolute;
  background-image: url(../img/top-image.jpg);
  width: 739px;
  height: 679px;
  left: 361px;
}

#menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 26px;
  max-width: 1000px;
  margin: 0 auto;
}

a.pure-menu-heading {
  padding-right: 350px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
  height: 40px;
}
.pure-menu-item a {
  padding: 5px 14px;
}
.pure-menu-item.active a {
  background-color: #FEE734;
  padding: 5px 20px;
}

#menu a {
  font-family: Gilroy-ExtraBold;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;
}

#section-1 {
  height: 681px;
}

#art {
  background-image: url(../img/bandb-art.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#section-1 .heading-text {
  margin-top: 416px;
  margin-bottom: 35px;
}

.heading-text {
  font-size: 69px;
  line-height: 0.85;
  letter-spacing: 0;
}

#section-1 p {
  position: relative;
  left: -150px;
}

#section-1 .text {
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 1.11;
  margin-top: 0;
  margin-bottom: 28px;
}

#section-1 .cta a {
  font-size: 18px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 0px;
  text-decoration: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0.04em;
}

#section-2 {
  background:
    url(../img/walk-up.png)
    top left
    no-repeat
    #FEE740;
  margin-top: 179px;
  padding-top: 175px;
}
#section-2 .heading-text {
  margin: 0 0 0 10px;
}
#section-2 #hot {
  position: relative;
  top: -225px;
}
#section-2 .testimonial {
  font-family: "Playfair Display";
  font-size: 25px;
  margin: 40px 0;
  letter-spacing: 0;
  line-height: 1.3;
  padding: 0 50px 0 0 ;
}

.source {
  font-family: Gilroy-ExtraBold;
  font-size: 17px;
  line-height: 0.3em;
}
.source .name {
  text-transform: uppercase;
}

.Gilroy-ExtraBold {
  font-family: Gilroy-ExtraBold;
  font-weight: normal;
  font-style: normal;
}
